# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
*.iml
workspace.xml
/node_modules
*.log
*.swp
.DS_Store
Thumbs.db
.env
config/
qodana.yaml